$color-dark: #8e8d8a;
$color-primary-light: #e98074;
$color-primary-dark: #e85a4f;
$color-secondary-light: #eae7dc;
$color-secondary-dark: #d8c3a5;

$font-size-xs: 1.6rem;
$font-size-s: 2rem;
$font-size-m: 3rem;
$font-size-l: 4rem;
$font-size-xl: 16rem;