<section class="section-about">
  <div class="background-circle background-circle--about">
    &nbsp;
  </div>
  <div class="heading-textbox heading-textbox--about">
    <span class="heading-textbox__span">A</span>
    <h1 class="heading-textbox__heading-primary">Hi there, I'm Wei</h1>
    <h2 class="heading-textbox__heading-secondary">Aspring software engineer</h2>
    <div class="content">
      <p>Currently studying at the University of Calgary and enjoy full stack development</p>
    </div>
  </div>
</section>
