@import '../../styles/abstract/variables';

.section-about {
  position: relative;
  height: 96vh;
  background-color: $color-secondary-light;
  overflow: hidden;
}

.content {
  font-size: 3rem;
  color: $color-secondary-light;
  line-height: 1.2;
  width: 50%;
}