@import '../../styles/abstract/variables';

.projects-container {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.project-display {
  &__wrapper {
    display: flex;
    width: 50vw;
    align-items: center;
  }

  &__prev,
  &__next {
    color: $color-secondary-light;
    cursor: pointer;
    font-size: 3rem;
    transition: all 300ms;

    &:hover {
      transform: translateY(-3px);
    }

    &:active {
      transform: none;
    }
  }

  &__prev {
    padding-right: 4rem;
  }

  &__next {
    padding-left: 4rem;
  }

}

.section-projects {
  position: relative;
  height: $height-default;
  background-color: $color-secondary-light;
  overflow: hidden;
}