@import '../../styles/abstract/variables';

.section-contact {
  position: relative;
  height: $height-default;
  background-color: $color-secondary-light;
  overflow: hidden;
}

.content {
  font-size: 3rem;
  color: $color-secondary-light;
  line-height: 1.2;
  width: 50%;
}

.contact-list {
  list-style: none;
  font-size: 2rem;
  line-height: 1.5;

  &__item {
    margin-top: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-secondary-light;
      border-bottom: 1px solid transparent;
      transition: all 300ms;
    }

    &:hover,
    &:active {
      border-bottom: 1px solid $color-secondary-light;
    }
  }
}