<section class="section">
  <div class="background-circle background-circle--contact">
    &nbsp;
  </div>

  <div class="heading-textbox heading-textbox--contact">
    <span class="heading-textbox__span">C</span>
    <h1 class="heading-textbox__heading-primary">Say hi</h1>
    <h2 class="heading-textbox__heading-secondary">wei.kang8775@gmail.com</h2>
    <h1 class="heading-textbox__heading-primary mt-large fs-small">
      Also...
    </h1>
    <ul class="contact-list">
      <li class="contact-list__item"><a href="https://www.linkedin.com/in/wei-kang-504aab175/" target="_blank" class="contact-list__link">LinkedIn</a></li>
      <li class="contact-list__item"><a href="https://github.com/weiKang8775" target="_blank" class="contact-list__link">GitHub</a></li>
    </ul>
  </div>
</section>