<section class="section__mobile-nav">
  <nav class="mobile-nav">
    <ul class="mobile-nav__nav">
      <li class="mobile-nav__item" routerLinkActive="active"><a routerLink="/projects" class="mobile-nav__link">Projects</a></li>
      <li class="mobile-nav__item" routerLinkActive="active"><a routerLink="/skills" class="mobile-nav__link">Skills</a></li>
      <li class="mobile-nav__item" routerLinkActive="active"><a routerLink="/tutorial" class="mobile-nav__link">Tutorial</a></li>
      <li class="mobile-nav__item" routerLinkActive="active"><a routerLink="/about" class="mobile-nav__link">About</a></li>
      <li class="mobile-nav__item" routerLinkActive="active"><a routerLink="/contact" class="mobile-nav__link">Contact</a></li>
      <li class="mobile-nav__item" routerLinkActive="active"><a routerLink="/home" class="mobile-nav__link">Home</a></li>
    </ul>
  </nav>
</section>
