@import '../../styles/abstract/variables';

.section-skill {
  height: $height-default;
  background-color: $color-secondary-light;
  position: relative;
}

.skill-list {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto auto;
}

.skill-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}