<nav class="navigation">
  <ul class="navigation__nav">
    <li class="navigation__item"><a routerLink="/about" class="navigation__link">Projects</a></li>
    <li class="navigation__item"><a routerLink="/about" class="navigation__link">Skills</a></li>
    <li class="navigation__item"><a routerLink="/about" class="navigation__link">Tutorial</a></li>
    <li class="navigation__item"><a routerLink="/about" class="navigation__link">About</a></li>
    <li class="navigation__item"><a routerLink="/about" class="navigation__link">Contact</a></li>
  </ul>
</nav>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>