<nav class="navigation">
  <ul class="navigation__nav">
    <li class="navigation__item" routerLinkActive="active"><a routerLink="/projects" class="navigation__link">Projects</a></li>
    <li class="navigation__item" routerLinkActive="active"><a routerLink="/skills" class="navigation__link">Skills</a></li>
    <li class="navigation__item" routerLinkActive="active"><a routerLink="/tutorial" class="navigation__link">Tutorial</a></li>
    <li class="navigation__item" routerLinkActive="active"><a routerLink="/about" class="navigation__link">About</a></li>
    <li class="navigation__item" routerLinkActive="active"><a routerLink="/contact" class="navigation__link">Contact</a></li>
    <li class="navigation__item" routerLinkActive="active"><a routerLink="/home" class="navigation__link">Home</a></li>
  </ul>
</nav>
