<section class="home">
  <header class="section">
    <div class="background-circle background-circle--home">
      &nbsp;
    </div>
    <div class="home__textbox">
      <h1 class="home__title">Wei Kang</h1>
      <div class="home__socials">
        <span class="home__span"><a href="https://www.linkedin.com/in/wei-kang-504aab175/" target="_blank" class="home__link">LinkedIn</a></span>
        <span class="home__span"><a href="https://github.com/weiKang8775" target="_blank" class="home__link">GitHub</a></span>
      </div>
    </div>
  </header>
</section>

