<header class="header">
  <div class="background-circle background-circle--home">
    &nbsp;
  </div>
  <div class="header__textbox">
    <h1 class="header__title">Wei Kang</h1>
    <div class="header__socials">
      <span class="header__icon"><a href="https://www.linkedin.com/in/wei-kang-504aab175/" target="_blank" class="header__link">LinkedIn</a></span>
      <span class="header__icon"><a href="https://github.com/weiKang8775" target="_blank" class="header__link">GitHub</a></span>
    </div>
  </div>
</header>
