.heading-textbox {
  position: absolute;
  color: $color-secondary-dark;
  letter-spacing: 1px;

  &__span {
    font-weight: 100;
    font-size: $font-size-xl;
    color: darken($color-primary-light, 3%);
    line-height: 1;
  }

  &__heading-primary {
    font-size: $font-size-l;
    font-weight: 600;
    line-height: 1;
  }

  &__heading-secondary {
    font-size: $font-size-l;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 2rem;
  }

  &--about {
    left: 4.5vw;
    top: 35vh;
  }

  &--contact {
    left: 4.5vw;
    top: 10vh;
  }
}